

body {
    display: flex;
    flex-direction: column;
    
    /* height: 1500px; */
}

.particles {
    height: 200px;
}

.home-hero {
    background-color: #76323F;
    /* box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5); */
}

.container_1 {
    background-color: #D7Cec7;

}

.site {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
    background-color: #D7Cec7;
}

.site-content {
    flex: 1;
    height: 1000px;
}

.header {
    opacity: .8;
    background-color: #C09F80
}

.home-hero {
    height: 500px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
    opacity: .8;
    background-color: #C09F80

}

.port-card,
.contact-card,
.about-card {
    border-radius: 20px;
    background-color: #565656;
}



