body {
    display: flex;
    flex-direction: column;
    
    /* height: 1500px; */
}

p {
    color: #565656
}




.home-hero {
    background-color: #76323F;
    /* box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.5); */
}

.main-hero {
    padding-top:100px;
}

.container {
    height: 1000px;
}

.slider {
    height: 200px;
    margin-top: 20px;
    border-radius: 20px;

}

.slider-card {
    position: relative;
    text-align: center;
}

.slider-card p {
    /* z-index: 1000; */
    margin: 0 auto;
    background-color: #76323F;
    color: #C09F80;
    font-size: 40px;
    align-content: center;
}

.particle {
    z-index: 0
}

canvas {
    position: relative;
    height: 200px;
    top: -430px;
}

.title-info {
    position: relative;
    top: 200px;
    text-align: center;
}


.site {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
    background-color: #76323F;
}

.site-content {
    flex: 1;
    height: 1000px;
}

.header {
    opacity: .8;
    background-color: #C09F80
}

.home-hero {
    height: 500px;
}

.footer {
    position: fixed;
    bottom: 0px;
    height: 70px;
    width: 100%;
    opacity: .8;
    background-color: #C09F80

}

.title,
.subtitle {
    color: #C09F80;
}
.port-cards,
.contact-card,
.about-card {
    border-radius: 20px;
    background-color: #565656;
    color: #C09F80
}

.port-images {
    border-radius: 20px;
}


.port-title {
    text-align: center;
}

.port-cards {
    min-height: 400px;
    padding-top: 15px;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-image {
    order: 0;
}

.about-me {
    order: 1;
}



